order-to-cash-app/schemas/Fulfillment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Fulfillment">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Reference" type="xs:string"/>
        <xs:element name="Warehouse" type="xs:string"/>
        <xs:element name="TotalValue" type="xs:decimal"/>
        <xs:element name="Items">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Item" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Sku" type="xs:string"/>
                    <xs:element name="Quantity" type="xs:decimal"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
